<template lang="pug">
  v-flex
    v-date-picker(locale="es" v-model="pickerFrom" @change="selectedDayFrom = $event")
    v-date-picker(locale="es" v-model="pickerTo" @change="selectedDayTo = $event")
    h1 Variaci&oacute;n del Precio del D&oacute;lar, A&ntilde;o: {{ selectedYear }}
    //- v-select(v-model='selectedYear' :items='years' label='Seleccione un año')
    chart(v-if='chartData' :chart-data='chartData')
</template>
<script>
import moment from 'moment'
import { mapActions, mapGetters } from 'vuex'
// import { getDataByYear } from '~/services/dollarDataService'
import Chart from '~/components/Chart'
moment.locale('es')

export default {
  components: { Chart },
  props: {
    dollarType: {
      type: String,
      default: 'dolar',
    },
  },
  data() {
    return {
      isLoading: true,
      dayModal: false,
      dollarPrices: [],
      fromYear: '2019',
      toYear: '2020',
      selectedYear: '2019',
      loading: false,
      selectedDayFrom: '',
      selectedDayTo: '',
      pickerFrom: '',
      pickerTo: '',
    }
  },
  computed: {
    ...mapGetters('dollarData', ['dollarPricesByYear']),
    calculatedDollarVariation() {
      return this.filteredByDay.map(({ valor }, index, array) => {
        if (index) return valor - array[index - 1].valor
      })
    },
    filteredByDay() {
      if (this.selectedDayFrom && this.selectedDayTo) {
        return this.dollarPricesByYear.filter(({ fecha }) => {
          return (
            moment(fecha).diff(this.selectedDayFrom) >= 0 &&
            moment(fecha).diff(this.selectedDayTo) <= 0
          )
        })
      } else {
        return this.dollarPricesByYear
      }
    },
    chartData() {
      const data = {
        labels: this.filteredByDay.map(({ fecha }) =>
          moment(fecha).format('MMMM Do YYYY')
        ),
        datasets: [
          {
            label: 'Valor',
            borderColor: '#f87979',
            data: this.calculatedDollarVariation,
          },
        ],
      }
      return data
    },
  },
  async created() {
    await this.saveDollarDataByYear({
      fromYear: this.fromYear,
      toYear: this.toYear,
      dollarType: this.dollarType,
    })
  },
  methods: {
    ...mapActions('dollarData', ['saveDollarDataByYear']),
  },
}
</script>
<style lang="sass">
h1
  font-size: 18px
</style>
